*
!.gitignore
!.config
.config/*
!.config/alacritty
!.config/alacritty/**/*
!.config/dunst
!.config/dunst/**/*
!.config/flameshot
!.config/flameshot/**/*
!.config/i3
!.config/i3/**/*
!.config/nvim
!.config/nvim/**/*
!.config/picom.conf
!.config/picom.conf/**/*
!.config/polybar
!.config/polybar/**/*
!.config/qutebrowser
!.config/qutebrowser/**/*
!.config/tmux
!.config/tmux/**/*
!.config/xremap
!.config/xremap/**/*
!.zshrc
!pictures/wallpapers/oliver_1920x1080.jpg
!scripts/lock.sh
